footer.footer
  .container
    .footer-wrap
      .footer-top
        .footer-top__left
          .footer-column
            .footer-column__title Каталог
            .footer-column__items
              a.footer-column__item Рыбалка
              a.footer-column__item Охота
              a.footer-column__item Одежда и обувь
              a.footer-column__item Лодки и моторы
              a.footer-column__item Туризм и отдых
              a.footer-column__item Электорнные приборы
              a.footer-column__item Мёд, крем-мёд, чай
              a.footer-column__item Грили Weber
          .footer-column
            .footer-column__title Информация
            .footer-column__items
              a.footer-column__item Акции
              a.footer-column__item Бонусы
              a.footer-column__item О нас
              a.footer-column__item Новости и статьи
              a.footer-column__item Наши партнёры
              a.footer-column__item Вакансии
              a.footer-column__item Доставка
              a.footer-column__item Пункты выдачи
        .footer-top__right
          .footer-column
            .footer-column__title Контакты
            .footer-column__contacts
              .footer-column__phones
                a 8 (800) 700-49-78
                a 8 (8352) 22-41-00
              .footer-column__email
                .footer-column__subtitle отдел продаж интернет-магазина
                a sale@lovchy.ru
              .footer-column__email
                .footer-column__subtitle отдел маркетинга и закупок
                a market@lovchy.ru
              .footer-column__soc
                a
                  img(src="assets/images/other/footer-vk.svg")
          .footer-column
            .footer-column__title-wrap
              .footer-column__title Пункты выдачи
              .footer-column__navs
                .footer-column__navs-prev
                  img(src="assets/images/other/slide-prev.svg")
                .footer-column__navs-next
                  img(src="assets/images/other/slide-next.svg")
            .footer-column__pickups
              .footer-column__pickups-items
                .swiper-wrapper
                  .footer-column__pickup.swiper-slide
                    .footer-column__pickup-address г. Чебоксары, ул. Водопроводная, 22к1
                    .footer-column__pickup-frame
                      .footer-column__pickup-frame_name Режим работы
                      .footer-column__pickup-frame_val с 9:00 до 20:00
                    .footer-column__pickup-contacts
                      .footer-column__pickup-frame
                        .footer-column__pickup-frame_name Телефон магазина
                        .footer-column__pickup-frame_val 8 (8352) 22-41-01
                      a.footer-column__pickup-map
                        img(src="assets/images/other/footer-map.svg")
                  .footer-column__pickup.swiper-slide
                    .footer-column__pickup-address г. Чебоксары, ул. Водопроводная, 22к1
                    .footer-column__pickup-frame
                      .footer-column__pickup-frame_name Режим работы
                      .footer-column__pickup-frame_val с 9:00 до 20:00
                    .footer-column__pickup-contacts
                      .footer-column__pickup-frame
                        .footer-column__pickup-frame_name Телефон магазина
                        .footer-column__pickup-frame_val 8 (8352) 22-41-01
                      a.footer-column__pickup-map
                        img(src="assets/images/other/footer-map.svg")
                  .footer-column__pickup.swiper-slide
                    .footer-column__pickup-address г. Чебоксары, ул. Водопроводная, 22к1
                    .footer-column__pickup-frame
                      .footer-column__pickup-frame_name Режим работы
                      .footer-column__pickup-frame_val с 9:00 до 20:00
                    .footer-column__pickup-contacts
                      .footer-column__pickup-frame
                        .footer-column__pickup-frame_name Телефон магазина
                        .footer-column__pickup-frame_val 8 (8352) 22-41-01
                      a.footer-column__pickup-map
                        img(src="assets/images/other/footer-map.svg")
      .footer-bottom
        .footer-bottom__left
          .footer__line © 2009-2024 гг. Компания «Ловчий»
          a.footer__link Соглашение о конфиденциальности
          a.footer__link Пользовательское соглашение
        .footer-bottom__right
          .footer__line Разработано в 2024