header.header
  .header-top
    .container
      .header-top__wrap
        .header-top__left
          .header-top__locations
            .header-location Чебоксары
            .header-pickup Пункт выдачи
          .header-top__menu
            a.header-top__menu-link Акции
            a.header-top__menu-link О нас
            .header-top__menu-link.drop Покупателям
              .drop-list
                .drop-list__link
                  a test
                .drop-list__link
                  a test
                .drop-list__link
                  a test
            a.header-top__menu-link Доставка
            a.header-top__menu-link Контакты
        .header-top__right
          .header-top__contacts
            a
              img(src="assets/images/other/vk.svg")
            a.header-phone 8 (800) 700-49-78
  .header-bottom
    .container
      .header-bottom__wrap
        a.header-logo
          img(src="assets/images/other/logo.svg")
        .header-bottom__center
          button.header__catalog.btn#open-catalog-menu
            .header__catalog-burger
              .header__catalog-burger_line
              .header__catalog-burger_line
              .header__catalog-burger_line
            span Каталог
          .header__search
            input.header__search-input( placeholder="Поиск товаров" )
            button.header__search-btn.btn
              img(src="assets/images/other/search.svg")
        .header-bottom__right
          .header-bottom__auth.header-bottom__right-item
            img(src="assets/images/other/profile.svg")
            span Войти
          .header-bottom__favorite.header-bottom__right-item
            img(src="assets/images/other/fav.svg")
            span Избранное
          .header-bottom__cart.header-bottom__right-item
            img(src="assets/images/other/cart.svg")
            span Корзина
            .header-bottom__cart-count 93+

header.header-mobil
  .container
    .header-mobil__wrap
      .header-mobil__left
        button.header-mobil__burger#open-mobil-menu
          .header-mobil__burger-line
          .header-mobil__burger-line
          .header-mobil__burger-line
        button.header-mobil__search
          img(src="./assets/images/other/search.svg")
      .header-mobil__center
        img(src="./assets/images/other/logo.svg")
      .header-mobil__right
        a.header-mobil__personal
          img(src="./assets/images/other/profile.svg")
        a.header-mobil__favorite
          img(src="./assets/images/other/fav.svg")
        a.header-mobil__cart
          img(src="./assets/images/other/cart.svg")

include ../components/MobilMenu.pug