.cart-empty
  .cart-empty__wrap
    img.cart-empty__img(src="assets/images/other/cart/empty-cart.svg")
    .cart-empty__title Ваша корзина пуста
    .cart-empty__desc Посмотрите предложения в каталоге или воспользуйтесь поиском
    a.cart-empty__link.btn.white Перейти в каталог