.cart
  .container
    .cart-wrap
      h2.page-title Корзина
      include ./empty
      .cart-content
        include ./settings
        .cart-info
          include ./items
          include ./total