.cart-products__settings
  .cart-products__settings-selectall
    label.custom-checkbox#select-all-btn
      input#select-all(
        type="checkbox"
      )
      span
      div
        span Выбрать все
  .cart-products__settings-delete#delete-select
    img(src="assets/images/other/cart/grey-cross.svg")
    span Удалить выбранное