.cart-total
  .cart-total__wrap
    .cart-total__values
      .cart-total__values-content
        .cart-total__values-title Ваш заказ
        .cart-total__values-points
          .cart-total__values-point
            .cart-total__values-point_name Товары, 2шт.
            .cart-total__values-point_val 80 000 ₽
          .cart-total__values-point
            .cart-total__values-point_name Скидки и акции
            .cart-total__values-point_val.orange -40 000 ₽
          .cart-total__values-point
            .cart-total__values-point_name Бонусы
            .cart-total__values-point_val.orange -999 Б
        .cart-total__values-total
          .cart-total__values-total_name Итого
          .cart-total__values-total_val 39 001
    .cart-total__points
      .cart-total__points-text На вашем счете 300 бонусов. Для оплаты заказа доступно 300 бонусов
      .cart-total__points-content
        .cart-total__points-value
          .product-card__points-logo Б
          .cart-total__points-val Списать бонусы: #[span 300]
        label.switch
          input(type="checkbox")
          span.slider.round
    .cart-total__notauth
      .cart-total__notauth-text Если у вас уже есть клубная карта, то #[a авторизуйтесь], чтобы воспользоваться
    .cart-total__order.btn Перейти к оформлению