.catalog
  .container
    .catalog-wrap
      h2.page-title Одежда для охоты и рыбалки
      .catalog-content
        .catalog-left
          include ./filter
        .catalog-right
          include ./products