.news-detail
  .container
    .news-detail__wrap
      h2.page-title Что такое стритфишинг и почему его стоит попробовать
      .news-detail__content
        .news-detail__date 27.02.2024
        img(src="assets/images/other/news/detail-img.png")
        p.news-detail__imgdesc Весна пришла, и с ней наступает долгожданное потепление — лед сходит, температура воды медленно поднимается, и рыба становится более активной. Однако пока водоемы не прогреются выше 15–16 °C, она питается не так активно, как летом, и иначе реагирует на запахи и цвета. Поэтому прикормки весной имеют свои особенности.
        .news-detail__title Что нужно знать:
        ol
          li Чем холоднее вода, тем меньше в составе должно быть зерновых компонентов и больше животных, в частности, рыбной муки.
          li Цвета лучше выбирать темные — черный, серый, коричневый.
          li Приветствуются рыбная ароматика, запахи специй и сладкие ноты.
          li Хорошо работает и нейтральная ароматика, когда прикормка «пахнет собой».
          li Мелкий помол пылит в воде и эффективно привлекает рыбу, не насыщая ее — в холодной воде она наедается быстро из-за замедленного метаболизма.
        p Рецептов — сотни, но мы выбрали для вас пять проверенных лучших прикормок весной, которые действительно работают по холодной воде.
    include ../news-stocks