.order-auth
  .order-auth__wrap
    .order-auth__desc Если Вы уже зарегистрированы на сайте, вы можете войти в личный кабинет - это ускорит процесс оформления заказа
    .order-auth__content
      form.order-auth__form
        .order-auth__form-input
          .order-auth__form-input_title Логин
          input.custom-input.order-auth__form-input_field( placeholder="Введите логин" )
        .order-auth__form-input
          .order-auth__form-input_title Пароль
          input.custom-input.order-auth__form-input_field( placeholder="Введите пароль" )
        button.btn.order-auth__form-input_submit Войти
      a.order-auth__link Забыли пароль?