.order-result
  .container
    .order-result__wrap
      img(src="assets/images/other/order/result.svg")
      .order-result__title Спасибо, Ваш заказ принят!
      .order-result__number Номер вашего заказа : 558958 от 19.03.2024 14:53 успешно сформирован.
      .order-result__desc
        p Счет отправлен Вам  на электронную почту.
        p Ознакомится со счетом Вы можете так же в Личном кабинете на сайте.
      .order-result__thanks Спасибо, что выбрали нас!