extends ../layout/main.pug

append variables
  - var title = 'Новости';
  - var bread = [ { text: 'Главная', link: '/' }, { text: 'Новости', link: '/news.html' } ]

block content
  main.main
    include ../components/breadcrumbs
    include ../components/news/index

append styles
  +style('breadcrumbs.css')
  +style('news-page.css')
