extends ../layout/main.pug

append variables
  - var title = 'Партнёры';
  - var bread = [ { text: 'Главная', link: '/' }, { text: 'Партнёры', link: '/partners.html' } ]

block content
  main.main
    include ../components/breadcrumbs
    include ../components/partners/index

append styles
  +style('breadcrumbs.css')
  +style('partners.css')
