extends ../layout/main

append variables
  - var title = 'Каталог';
  - var bread = [ { text: 'Главная', link: '/' }, { text: 'Одежда для охоты и рыбалки', link: '/section.html' } ]

block content
  main.main
    include ../components/breadcrumbs
    include ../components/catalog

append styles
  +style('breadcrumbs.css')
  +style('catalog.css')
  +style('filter.css')
  +style('products.css')