#modal-auth.modal.vertical-scroll
  .modal-content
    .modal-close
      svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M3 3L13 13M13 3L3 13" stroke="#9E9E9E" stroke-width="2" stroke-linecap="round")
    .modal-title Вход #[span / Регистрация]
    .modal-text Впервые у нас? #[a Зарегистрироваться]
    form
      .modal-inputs
        label.modal-input
          span Ваша почта
          input.custom-input(type='text' placeholder='E-mail')
        label.modal-input
          span Пароль
          input.custom-input(type='text' placeholder='Введите пароль')
      button.btn.modal-btn(type='submit') Войти
      label.custom-checkbox.modal-checkbox
        input(type='checkbox')
        span
        span Запомнить меня
    a.modal-text Забыли пароль? #[a(href='/auth/?forgot_password=yes') Восстановить]