-
  var newsPage = [
    {
      img: 'assets/images/other/news/1.png',
      date: '11 марта 2024',
      name: 'Что нового в Правилах рыболовства?',
      previewDesc: 'В современном рыболовном сообществе становится общепринятым изучать правила рыболовства как минимум своег...'
    },
    {
      img: 'assets/images/other/news/2.png',
      date: '11 марта 2024',
      name: 'Что такое стритфишинг и почему его стоит попробовать',
      previewDesc: 'Слово стритфишинг происходит от двух английских слов — street и fishing. В переводе — уличная рыбалка, рыбалка в городе.'
    },
    {
      img: 'assets/images/other/news/3.png',
      date: '11 марта 2024',
      name: 'Naturehike: новинки для туризма и активного отдыха',
      previewDesc: 'Организовать комфортный отдых на природе легко с новинками от Naturehike! Кроме спальных мешков и палаток мы привезли...'
    },
    {
      img: 'assets/images/other/news/1.png',
      date: '11 марта 2024',
      name: 'Правила для маломерных судов: что изменилось в 2024 году',
      previewDesc: 'Действующие правила пользования маломерными судами, установленные МЧС, вступили в силу 1 января 2021...'
    },
    {
      img: 'assets/images/other/news/1.png',
      date: '11 марта 2024',
      name: 'Правила для маломерных судов: что изменилось в 2024 году',
      previewDesc: 'Действующие правила пользования маломерными судами, установленные МЧС, вступили в силу 1 января 2021...'
    },
    {
      img: 'assets/images/other/news/1.png',
      date: '11 марта 2024',
      name: 'Правила для маломерных судов: что изменилось в 2024 году',
      previewDesc: 'Действующие правила пользования маломерными судами, установленные МЧС, вступили в силу 1 января 2021...'
    },
    {
      img: 'assets/images/other/news/1.png',
      date: '11 марта 2024',
      name: 'Правила для маломерных судов: что изменилось в 2024 году',
      previewDesc: 'Действующие правила пользования маломерными судами, установленные МЧС, вступили в силу 1 января 2021...'
    },
    {
      img: 'assets/images/other/news/1.png',
      date: '11 марта 2024',
      name: 'Правила для маломерных судов: что изменилось в 2024 году',
      previewDesc: 'Действующие правила пользования маломерными судами, установленные МЧС, вступили в силу 1 января 2021...'
    },
    {
      img: 'assets/images/other/news/1.png',
      date: '11 марта 2024',
      name: 'Что нового в Правилах рыболовства?',
      previewDesc: 'В современном рыболовном сообществе становится общепринятым изучать правила рыболовства как минимум своег...'
    },
    {
      img: 'assets/images/other/news/2.png',
      date: '11 марта 2024',
      name: 'Что такое стритфишинг и почему его стоит попробовать',
      previewDesc: 'Слово стритфишинг происходит от двух английских слов — street и fishing. В переводе — уличная рыбалка, рыбалка в городе.'
    },
    {
      img: 'assets/images/other/news/3.png',
      date: '11 марта 2024',
      name: 'Naturehike: новинки для туризма и активного отдыха',
      previewDesc: 'Организовать комфортный отдых на природе легко с новинками от Naturehike! Кроме спальных мешков и палаток мы привезли...'
    },
    {
      img: 'assets/images/other/news/1.png',
      date: '11 марта 2024',
      name: 'Правила для маломерных судов: что изменилось в 2024 году',
      previewDesc: 'Действующие правила пользования маломерными судами, установленные МЧС, вступили в силу 1 января 2021...'
    },
    {
      img: 'assets/images/other/news/1.png',
      date: '11 марта 2024',
      name: 'Правила для маломерных судов: что изменилось в 2024 году',
      previewDesc: 'Действующие правила пользования маломерными судами, установленные МЧС, вступили в силу 1 января 2021...'
    },
    {
      img: 'assets/images/other/news/1.png',
      date: '11 марта 2024',
      name: 'Правила для маломерных судов: что изменилось в 2024 году',
      previewDesc: 'Действующие правила пользования маломерными судами, установленные МЧС, вступили в силу 1 января 2021...'
    },
    {
      img: 'assets/images/other/news/1.png',
      date: '11 марта 2024',
      name: 'Правила для маломерных судов: что изменилось в 2024 году',
      previewDesc: 'Действующие правила пользования маломерными судами, установленные МЧС, вступили в силу 1 января 2021...'
    },
    {
      img: 'assets/images/other/news/1.png',
      date: '11 марта 2024',
      name: 'Правила для маломерных судов: что изменилось в 2024 году',
      previewDesc: 'Действующие правила пользования маломерными судами, установленные МЧС, вступили в силу 1 января 2021...'
    },
  ]

.newspage-items
  .newspage-items__wrap
    each item in newsPage
      a.news-item
        .news-item__img
          img(src=item.img)
        .news-item__content
          .news-item__date= item.date
          .news-item__name= item.name
        .news-item__description= item.previewDesc