.vacancy-filter
  .vacancy-filter__wrap
    .vacancy-filter__search
      img(src='assets/images/other/input-search.svg')
      input.vacancy-filter__search-input.custom-input(placeholder="Введите название должности")
    select.select
      option Выбрать город
    button.vacancy-filter__submit.btn Поиск