.footer-form
  .footer-form__wrap
    .footer-form__left
      .footer-form__title Отправить резюме
      .footer-form__content
        .footer-form__inputs
          .footer-form__input
            .footer-form__input-title ФИО
            input.custom-input(placeholder="Ваше имя")
          .footer-form__input
            .footer-form__input-title Телефон*
            input.custom-input(placeholder="+7 (___) ___-__-__")
        .footer-form__input
          .footer-form__input-title О себе
          textarea.custom-textarea(rows="6" placeholder="Напишите о себе")
        .footer-form__btns
          .footer-form__attach
            img(src="assets/images/other/paperclip.svg")
            span Прикрепить файл
          .footer-form__docs DOC, PDF до 5 Мбайт
          button.btn Отправить
        .footer-form__privacy Нажимая на кнопку, вы соглашаетесь #[a с политикой конфиденциальности] и даете согласие на #[a обработку своих персональных данных]
    .footer-form__right
      img(src="assets/images/other/footer-form-logo.svg")