.vacancy-el
  .vacancy-el__wrap
    .vacancy-el__items
      .vacancy-el__item
        .vacancy-el__header
          .vacancy-el__title
            .vacancy-el__title-val Менеджер
            .vacancy-el__title-data
              .vacancy-el__title-city Чебоксары
              .vacancy-el__title-salary от 50 000 руб. до вычета налогов
          img(src="assets/images/other/filter-arrow.svg")
        .vacancy-el__body
          .vacancy-el__inner
            .vacancy-el__left
              .vacancy-el__text #[span.vacancy-el__name Зарплата:] от 50 000 руб. до вычета налогов
              .vacancy-el__text #[span.vacancy-el__name Требуемый опыт работы:] 1-3 года
              .vacancy-el__text #[span.vacancy-el__name Полная занятость, полный день]
              .vacancy-el__text #[span.vacancy-el__name Нам нужен:] инженер в группу инжиниринга устройств релейной защиты 110 – 6 кВ (РЗА). Уровень квалификации и заработной платы определяем по результатам собеседования.
              .vacancy-el__text #[span.vacancy-el__name Куда:] в Департамент автоматизации энергосистем (ДАЭС). Одним из направлений деятельности ДАЭС является построение систем РЗА цифровых подстанций (ЦПС). Система РЗА цифровых подстанций включает в себя не только терминалы РЗА, но и локально вычислительную сеть (ЛВС), устройства преобразования аналоговых и дискретных сигналов (ПАС, ПДС), SCADA-системы. Указанные обстоятельства обязывают команду инжиниринга обладать компетенциями как в АСУ ТП, так и в РЗА. Работа у нас – это возможность максимально проявить себя как профессионала и стать специалистом во многих областях быстро развивающегося направления ЦПС.
              .vacancy-el__points
                .vacancy-el__points-title Требования:
                ul
                  li высшее профессиональное техническое образование (направления подготовки: электроэнергетика и электротехника, инфокоммуникационные технологии и системы связи, управление в технических системах, теплоэнергетика и теплотехника);
                  li желателен опыт настройки, конфигурирования и наладки микропроцессорных устройств;
                  li опыт разработки эксплуатационной документации, технических заданий, технических требований, программ, методик и протоколов испытаний;
                  li навыки ведения деловой переписки и эффективных коммуникаций с сотрудниками;
                  li умение работать в условиях большого объема задач и сжатых сроков.
              .vacancy-el__points
                .vacancy-el__points-title Обязанности:
                ul
                  li настройка и конфигурирование терминалов РЗА со сложными и нетиповыми функциями;
                  li настройка и конфигурирование коммутаторов и SCADA-системы;
                  li подготовка документации, связанной с техническим сопровождением устройств РЗА (программы и методики испытаний, протоколы испытаний, описание работы функций и т.д.);
                  li выполнение работ по продвижению устройств РЗА (подготовка обучающих материалов, статей, описаний решений и т.д.).
                  li выполнение ПНР/ШНР на объектах заказчика (редко);
                  li подготовка документации, связанной с техническим сопровождением устройств РЗА (программы и методики испытаний, протоколы испытаний, описание работы функций и т.д.);
                  li выполнение работ по продвижению устройств РЗА (подготовка обучающих материалов, статей, описаний решений и т.д.).
                  li участие в решении производственных вопросов на этапах изготовления выпускаемой продукции.
              .vacancy-el__points
                .vacancy-el__points-title Наши условия:
                ul
                  li интересная работа в крупной, надежной и развивающейся компании;
                  li условия для карьерного роста;
                  li направление на курсы повышения квалификации;
                  li благоприятные условия труда;
                  li поощрительные премии, вознаграждения за выслугу лет, компенсационные социальные выплаты;
                  li трудоустройство по ТК РФ.
            .vacancy-el__right
              button.vacancy-el__btn.btn Откликнуться
              .vacancy-el__contacts
                .vacancy-el__contacts-item
                  img(src="assets/images/other/mail.svg")
                  a pochta@mail.ru
                .vacancy-el__contacts-item
                  img(src="assets/images/other/phone.svg")
                  a 8 (900) 123-44-56
      .vacancy-el__item
        .vacancy-el__header
          .vacancy-el__title
            .vacancy-el__title-val Менеджер
            .vacancy-el__title-data
              .vacancy-el__title-city Чебоксары
              .vacancy-el__title-salary от 50 000 руб. до вычета налогов
          img(src="assets/images/other/filter-arrow.svg")
        .vacancy-el__body
          .vacancy-el__inner
            .vacancy-el__left
              .vacancy-el__text #[span.vacancy-el__name Зарплата:] от 50 000 руб. до вычета налогов
              .vacancy-el__text #[span.vacancy-el__name Требуемый опыт работы:] 1-3 года
              .vacancy-el__text #[span.vacancy-el__name Полная занятость, полный день]
              .vacancy-el__text #[span.vacancy-el__name Нам нужен:] инженер в группу инжиниринга устройств релейной защиты 110 – 6 кВ (РЗА). Уровень квалификации и заработной платы определяем по результатам собеседования.
              .vacancy-el__text #[span.vacancy-el__name Куда:] в Департамент автоматизации энергосистем (ДАЭС). Одним из направлений деятельности ДАЭС является построение систем РЗА цифровых подстанций (ЦПС). Система РЗА цифровых подстанций включает в себя не только терминалы РЗА, но и локально вычислительную сеть (ЛВС), устройства преобразования аналоговых и дискретных сигналов (ПАС, ПДС), SCADA-системы. Указанные обстоятельства обязывают команду инжиниринга обладать компетенциями как в АСУ ТП, так и в РЗА. Работа у нас – это возможность максимально проявить себя как профессионала и стать специалистом во многих областях быстро развивающегося направления ЦПС.
              .vacancy-el__points
                .vacancy-el__points-title Требования:
                ul
                  li высшее профессиональное техническое образование (направления подготовки: электроэнергетика и электротехника, инфокоммуникационные технологии и системы связи, управление в технических системах, теплоэнергетика и теплотехника);
                  li желателен опыт настройки, конфигурирования и наладки микропроцессорных устройств;
                  li опыт разработки эксплуатационной документации, технических заданий, технических требований, программ, методик и протоколов испытаний;
                  li навыки ведения деловой переписки и эффективных коммуникаций с сотрудниками;
                  li умение работать в условиях большого объема задач и сжатых сроков.
              .vacancy-el__points
                .vacancy-el__points-title Обязанности:
                ul
                  li настройка и конфигурирование терминалов РЗА со сложными и нетиповыми функциями;
                  li настройка и конфигурирование коммутаторов и SCADA-системы;
                  li подготовка документации, связанной с техническим сопровождением устройств РЗА (программы и методики испытаний, протоколы испытаний, описание работы функций и т.д.);
                  li выполнение работ по продвижению устройств РЗА (подготовка обучающих материалов, статей, описаний решений и т.д.).
                  li выполнение ПНР/ШНР на объектах заказчика (редко);
                  li подготовка документации, связанной с техническим сопровождением устройств РЗА (программы и методики испытаний, протоколы испытаний, описание работы функций и т.д.);
                  li выполнение работ по продвижению устройств РЗА (подготовка обучающих материалов, статей, описаний решений и т.д.).
                  li участие в решении производственных вопросов на этапах изготовления выпускаемой продукции.
              .vacancy-el__points
                .vacancy-el__points-title Наши условия:
                ul
                  li интересная работа в крупной, надежной и развивающейся компании;
                  li условия для карьерного роста;
                  li направление на курсы повышения квалификации;
                  li благоприятные условия труда;
                  li поощрительные премии, вознаграждения за выслугу лет, компенсационные социальные выплаты;
                  li трудоустройство по ТК РФ.
            .vacancy-el__right
              button.vacancy-el__btn.btn Откликнуться
              .vacancy-el__contacts
                .vacancy-el__contacts-item
                  img(src="assets/images/other/mail.svg")
                  a pochta@mail.ru
                .vacancy-el__contacts-item
                  img(src="assets/images/other/phone.svg")
                  a 8 (900) 123-44-56