.about-slider
  .about-slider__wrap
    .swiper-wrapper
      .about-slider__item.swiper-slide
        img(src="assets/images/other/about/slide.png")
      .about-slider__item.swiper-slide
        img(src="assets/images/other/about/slide.png")
      .about-slider__item.swiper-slide
        img(src="assets/images/other/about/slide.png")
  .about-slider__navs
    .about-slider__navs-next.swiper-button-next
      img(src="assets/images/other/slide-next-black.svg")
    .about-slider__navs-prev.swiper-button-prev
      img(src="assets/images/other/slide-prev-black.svg")