.about
  .container
    .about-wrap
      h2.page-title Магазин «Ловчий»
      include ./banner
      include ./adv
      include ./info
      include ./partners
      include ./team
      include ./certs