.about-info
  .about-info__wrap
    .about-info__items
      .about-info__item
        .about-info__item-title История компании
        .about-info__item-content
          p.about-info__item-content_big Магазин «Ловчий» открылся в 2009 году. К настоящему времени магазин по праву завоевал доверие тысяч покупателей Чувашии и России: как простых любителей рыбалки и охоты, так и настоящих профессионалов.
          p.about-info__item-content_min В магазине представлен огромный ассортимент товаров для рыбалки, охоты, туризма и активного отдыха.
          p.about-info__item-content_min Ценовая политика Вас приятно обрадует: у нас можно приобрести как бюджетный товар, так и товары премиум-класса ведущих мировых брендов.
          p.about-info__item-content_min Наши менеджеры всегда готовы проконсультировать Вас по всем вопросам: от помощи в выборе товара до оформления заказа.
      .about-info__item
        .about-info__item-title Миссия и ценности
        .about-info__item-content
          p.about-info__item-content_big Мы продаем качественные товары, стремясь ответить на запрос каждого, кто мечтает и любит активный образ жизни. Помогаем своим клиентам находить лучшую экипировку в России каждый день!