include ../mixins/style
include ../mixins/script
include ../mixins/image
include ../mixins/sprite

block variables

doctype html
html
  head
    title #{title}
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    +style('libs.min.css')
    +style('global.css')
    +style('common.css')
    +style('MenuCatalog.css')
    +style('MobilMenu.css')
    +style('modals.css')
    script(src="https://api-maps.yandex.ru/v3/?apikey=d5735d2b-1be0-46d7-a37a-9ad42ec40288&lang=ru_RU")
    block styles
  body
    .content
      include ../partials/header.pug
      include ../components/MenuCatalog.pug
      block content
    include ../partials/footer.pug
    include ../components/modals/bg.pug
    +script('libs.min.js')
    +script('global.min.js')
    +script('main.min.js')
    block scripts
